
@font-face {
  font-family: 'Grotex';
  src: url(../fonts/Grotex-Regular.woff) format("woff");
  font-weight: 100;
}

html,
body{
    color: white;
    background-color: black;
    font-family: Grotex, Helvetica, Arial, sans-serif;    
    word-wrap: break-word;  

    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;

}

}

h1,h3,h3,p,
a{
    font-family: Grotex, Helvetica, Arial, sans-serif;
}
h2{
    margin-bottom: 40px;
}
a{
    color: black;
}
a.light{
    color: white;
}
a:hover{
    color: #BFBFBF;
    text-decoration: none;
}
p{
    font-size: 21px;    
}

#navbarHeader{
    position: fixed;
    width: 100%;
    z-index: 9999;    
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
    padding-left: 40px;
    padding-right: 40px;
}

.navigation{
    opacity: 0;
    z-index: 999;
    position: fixed;
    background-color: white;

    width: calc(24% + 80px);

    top: 80px;
    right: 0px;
    margin-bottom: 0px;

    display: none;


}

.menu{
    display: none;
    padding-top: 120px;
    padding-left: 80px;
}

.menu a{
    color: black;
}
.menu a:hover{
    color: #BFBFBF;
}
.menu-item{
    font-size: 22px;
}

.menu-item.is-active a{
    color: #BFBFBF;
}


.nav-opener{
    cursor: pointer;
    margin-right: 10px;    
    transform: rotate(270deg);
}
svg.arrow{
    width: 20px;
}

input[type=checkbox]{
    display: none;
}
input[type=checkbox]:checked ~ .navigation{
    opacity: 1;
    display: block;
    bottom: 5px;
}
input[type=checkbox]:checked ~ nav .menu{
    display: block;
}
input[type=checkbox]:checked ~ header .nav-opener{
    transform: rotate(90deg);    
}
svg.arrow:hover .cls-3,
input[type=checkbox]:checked ~ header svg.arrow .cls-3{
    fill: #BFBFBF;
}

.nav-opener{
    line-height: 20px;
}


.bg-dark2{
    height: 80px;
    background-color: black!important;
    border-bottom: solid 1px white;
}

.branding{
    color: white;
    font-size: 30px;
    font-family: Grotex, Helvetica, Arial, sans-serif;
    line-height: 40px;
}

.branding:hover{
    color: #BFBFBF;
    text-decoration: none;
}

.container.main,
.container-fluid.main{
    padding-top: 160px;
}

.container,
.container-fluid{
    padding-left: 65px;
    padding-right: 65px;    
}


.arrow-top{
    cursor: pointer;
    font-size: 40px;
    font-family: Grotex, Helvetica, Arial, sans-serif;    
}

.container-light{
    background-color: white;
    color: black;
    padding-bottom: 40px;

}
.container-dark{
    padding-bottom: 65px;
}

.container-dark p{
    margin-bottom: 25px;
}

.p-title{
    padding-top: 40px;
    margin-bottom: 20px;
}
.intro.text{
    margin-bottom: 25px;
}

.contact-info{
    text-align: right;
    margin-bottom: 80px;
}

footer{
    position: absolute;
    z-index: 99999;
    width:100%;
    margin-top: 0px;
    height: 80px;
    background-color: black;
    border-top: solid 1px white;
}

.btn-footer{
    color: white;
    font-size: 30px;
    line-height: 80px;
    font-family: Grotex, Helvetica, Arial, sans-serif;
}

.text-right{
    padding-right: 5px;
}

.showcase-thumb{
    margin-bottom: 80px;
}

.contact-info a,
.showcase-thumb a{
    color: white;
}
.contact-info a:hover,
.showcase-thumb a:hover{
    color: #BFBFBF;
}

.img-thumbnail{
    padding: 0;
    border-radius: 0;
    border: none;
    background-color: transparent;
}

.showcase-link {
    display: block;
    position:relative;
    transition-duration: 0.1s;    
}

.showcase-link:hover{
    background-color: #262626;
}

.showcase-link .showcase-caption{
    color:white;    
    width: 100%;
    text-align: center;
    position: absolute;
    opacity: 0;
    top: 40%;
    transition-duration: 0.1s;    

}

.showcase-link:hover .showcase-caption{
    opacity: 1;
}

.showcase-link:hover .img-thumbnail{
    opacity: 0;
    background: #262626;
}


@media only screen and (max-width: 600px) {
    .branding{
        font-size: 35px;
        font-size: 35px;
    }
    .nav-opener{
        position: fixed;
        top: 25px;
        right: 40px;
    }
    .navigation{
        width: 100%;
    }

}




